<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>O'z kompaniyangizni kiriting</title>
</head>

<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="min-h-screen bg-gray-100 flex items-center">
        <div class="container mx-auto md:max-w-xl max-w-md shadow-md hover:shadow-lg transition duration-300">
            <div class="py-12 p-10 bg-white rounded-xl">
                <h1 class="text-2xl mb-10 text-center">Kompaniyangiz ma'lumotlarini kiriting</h1>
                <div class="mb-6">
                    <label class="text-gray-700 font-bold inline-block mb-2" for="name">Kompaniya nomi</label>
                    <input type="text" name="name" id="name"
                           class="border bg-gray-100 py-2 px-4 w-full outline-none focus:ring-2 focus:ring-green-400 rounded"
                           placeholder="MDevs group"/>
                </div>
                <div class="mb-6">
                    <label class="text-gray-700 font-bold inline-block mb-2" for="phone_number">Telefon raqami</label>
                    <input type="text" name="phone_number" id="phone_number"
                           class="border bg-gray-100 py-2 px-4 w-full outline-none focus:ring-2 focus:ring-green-400 rounded"
                           placeholder="+123456789"/>
                </div>
                <div class="mb-6">
                    <label class="text-gray-700 font-bold inline-block mb-2" for="address">Manzili</label>
                    <textarea type="text" name="address" id="address" placeholder="Manzili"
                              class="border bg-gray-100 py-2 px-4 w-full outline-none focus:ring-2 focus:ring-green-400 rounded"></textarea>
                </div>
                <div class="mb-4">
                    <label class="text-gray-700 font-bold inline-block mb-2" for="file">Kompaniya logosi</label>
                    <input type="file" name="logo_img" id="file" accept="image/*"
                           class="border bg-gray-100 py-2 px-4 w-full outline-none focus:ring-2 focus:ring-green-400 rounded"/>
                </div>
                <button
                        class="w-full mt-6 text-green-50 font-bold bg-green-600 py-3 rounded-md hover:bg-green-500 transition duration-300">
                    SAQLASH
                </button>
            </div>
        </div>
    </div>
</form>
</body>

</html>
